@media only screen and (max-width: 1325px){
    #page-home main h1 {      
        line-height: 40px;
        font-size: 20px;
    }

    #page-home main h1#bolder {    
        font-weight: 900;
        font-size: 28px;
    }
}

@media only screen and (min-width: 1121px) and (max-width: 1324px){
    .footer-itens-grid article {
        font-size: 16px;
        margin-right: 0;
    }

    .footer-text {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1120px){
    #page-home {
        header {
            img#dna{
                margin-left: 30px;
            }

            #right-top-menu #search {
                margin-right: 70px;
            }
        }

        main {
            margin-left: 30px;

            h1 {      
                line-height: 40px;
                font-size: 20px;
            }

            h1#bolder {    
                font-weight: 900;
                font-size: 28px;
            }

            section a#text{
                max-width: 225px;
                height: 40px;
                font-size: 15px;
            }
        }

        .footer-itens-grid article {
            font-size: 13px;
            margin-right: 0;
        }
    
        .footer-text {
            font-size: 13px;
        }
    }

  
    
}

@media only screen and (max-width: 900px) {
    #page-home {
        .footer-itens-grid article {
            font-size: 12px;
            margin-right: 0;
        }
    
        .footer-text {
            font-size: 12px;
        }
    }
    
}

@media only screen and (max-width: 800px) {
    // #page-home {
    //     .footer-itens-grid li:first-child {
    //         flex: 1;
    //         justify-content: center;
    //         min-width: 300px;
    //     } 
    // }       
}

/*SLIDER */
@media screen and (max-width:768px) {
    #page-home {
        header img#dna {
            background-color: rgba(0, 0, 0, 0.212); 
        }

        .separator {
            background-image: none;
        }

        .footer-itens-grid {
            display: grid;
            grid-template-columns: 340px 1fr;

            nav.slide-items {
                display: grid;
                grid-template-columns: 1fr;
            }
        }

        .slide-items {
            position: relative;
        }
        
        .slide-items > * {
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
        
        .slide-items .active {
            opacity: 1;
            position: relative;
            visibility: visible;
        }

        #big_arrow {
            background-size: 10%;
        }

        footer{
            margin: auto 0 0;
        }
    }
    
}

@media only screen and (max-width: 450px) {
    #page-home{
        header img#dna {
            background-color: unset; 
        }
    
        .footer-itens-grid {
            display: grid;
            grid-template-columns: 2fr 1fr;

            article {
                font-size: 12px;
                margin-right: 0;
            }
        }
        
        footer{
            margin: auto 0 0;
        }
    }
}

@media only screen and (max-width: 380px) {
    #page-home{   
        main section#contact a#text {
            width: 70%;
            font-size: 10px;
        }

        header img#dna {
            background-color: unset; 
        }

        footer{
            margin: auto 0 0;
        }
    
        .footer-itens-grid {
            display: grid;
            grid-template-columns: 2fr 1fr;

            article {
                font-size: 10px;
                margin-right: 0;
            }

            div:first-child {
                align-items: baseline;
            }
            
            #big_arrow {
                padding-left: 3%;
            }
        }
    }    
}