:root{
    --title-color: #ffffff;
    --footer-color: rgba(199, 194, 194, 0.26);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    color: var(--title-color);
}


/* HEADER */
#page-home header {
    display: flex;
    justify-content: space-between;
}

#page-home header img#dna{
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 57px;
}

#page-home #right-top-menu {
    justify-content: center;
    display: flex;
    align-items: center;
}

#page-home #right-top-menu #hambuger {
    margin-right: 40px;
}

#page-home #right-top-menu #search {
    margin-right: 200px;
}

/* MAIN SECTION */
#page-home {
    background: url('../assets/background.jpg') no-repeat center center;
   
    background-size: 100% 100%;
    height: 100vh;
}

#page-home main {
    margin-left: 100px;
}

#page-home main h1 {      
    font-weight: 400;
    line-height: 50px;
    font-size: 25px;

    text-shadow: black 0.1em 0.1em 0.2em;
}

#page-home main h1#bolder {    
    font-weight: 900;
    font-size: 39px;
}

#page-home section#contact {
    display: flex;
    justify-content: space-between;
}

#page-home main section a#text {
    width: 100%;
    max-width: 285px;
    height: 50px;
    
    margin-top: 15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: 700;

    color: var(--title-color);
    background-color: rgb(255, 203, 126);
    
    transition: background-color 400ms;
}

#page-home main section a#text:hover {
    background-color: rgb(224, 98, 26);
}

#page-home main section a#whatszapp {
    display: flex;

    justify-content: flex-end;
}

#page-home main section a#whatszapp img {
    width: 50px;
}

/* FOOTER */
#page-home footer{
    position: absolute;
    right: 100px;
    bottom: 0;
    left: 100px;
}

.footer-itens-grid{
    display: flex;
    flex: 1;
}

.footer-itens-grid li {
    background-color: rgba(0, 0, 0, 0.212); 
    list-style: none;

    border-top: 0.5px solid var(--footer-color);
    border-right: 0.5px solid var(--footer-color);
    height: 160px;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: var(--title-color);
    font-weight: 400;

    padding-bottom: 15px;
    line-height: 26px;
}

.footer-itens-grid li:first-child {
    border-left: 0.5px solid var(--footer-color);
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: unset;
    display: flex;
    flex: 2;
}

.footer-itens-grid article {
    font-size: 20px;
    margin-right: 20px;
}

#footer-bolder {
    font-weight: 600;
}

.footer-itens-grid img{
    padding-top: 25px;
    flex: 1;

    width: 30%;
}

#phone {
    padding-top: 25px;
    flex: 1; 
}

.footer-text {
    display: flex;
    font-weight: 600;
    font-size: 15px;
}