.flexCenter, .footer-itens-grid div, #page-home main section#contact a#text, #page-home header #right-top-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
}

h1, h2 {
  color: #ffffff;
}

/* HEADER */
#page-home header {
  display: flex;
  justify-content: space-between;
}
#page-home header img#dna {
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 57px;
}
#page-home header #right-top-menu #hambuger {
  margin-right: 40px;
}
#page-home header #right-top-menu #search {
  margin-right: 200px;
}

/* MAIN SECTION */
#page-home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  background: url("../assets/background.jpg") no-repeat center center;
  background-size: cover;
}
#page-home main {
  margin-left: 100px;
}
#page-home main h1 {
  font-weight: 400;
  line-height: 50px;
  font-size: 25px;
  text-shadow: black 0.1em 0.1em 0.2em;
}
#page-home main h1#bolder {
  font-weight: 900;
  font-size: 39px;
}
#page-home main section#contact {
  display: flex;
  justify-content: space-between;
}
#page-home main section#contact a#text {
  width: 100%;
  max-width: 285px;
  height: 50px;
  margin-top: 15px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ffcb7e;
  transition: background-color 400ms;
}
#page-home main section#contact a#text:hover {
  background-color: #ce9847;
}
#page-home main section#contact a#whatszapp {
  display: flex;
  justify-content: flex-end;
}
#page-home main section#contact a#whatszapp img {
  width: 50px;
}

/* FOOTER */
footer {
  margin: auto 20px 0;
}

.footer-itens-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.footer-itens-grid nav.slide-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-itens-grid div {
  background-color: rgba(0, 0, 0, 0.212);
  list-style: none;
  border-top: 0.5px solid rgba(199, 194, 194, 0.26);
  border-right: 0.5px solid rgba(199, 194, 194, 0.26);
  height: 160px;
  flex: 1;
  flex-direction: column;
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 15px;
  line-height: 26px;
}
.footer-itens-grid li:first-child {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: unset;
  flex: 2;
  border-left: 0.5px solid rgba(199, 194, 194, 0.26);
}
.footer-itens-grid article {
  font-size: 20px;
  margin-right: 20px;
}
.footer-itens-grid img {
  padding-top: 25px;
  flex: 1;
  width: 70px;
  align-self: center;
}

#footer-text-grid {
  display: grid;
  grid-template-columns: -webkit-max-content 30px;
  grid-template-columns: max-content 30px;
  width: 100%;
}

#big_arrow {
  background-image: url(../assets/big-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  padding: 20px 0 0;
  background-origin: content-box;
  background-size: 10%;
}

.separator {
  background-image: url(../assets/separator.svg);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 58%;
}

.separator:first-child {
  background-image: unset;
}

.footer-text {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  width: 100%;
}

#footer-bolder {
  font-weight: 600;
}

#phone {
  padding-top: 40px;
  flex: 1;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1325px) {
  #page-home main h1 {
    line-height: 40px;
    font-size: 20px;
  }

  #page-home main h1#bolder {
    font-weight: 900;
    font-size: 28px;
  }
}
@media only screen and (min-width: 1121px) and (max-width: 1324px) {
  .footer-itens-grid article {
    font-size: 16px;
    margin-right: 0;
  }

  .footer-text {
    font-size: 13px;
  }
}
@media only screen and (max-width: 1120px) {
  #page-home header img#dna {
    margin-left: 30px;
  }
  #page-home header #right-top-menu #search {
    margin-right: 70px;
  }
  #page-home main {
    margin-left: 30px;
  }
  #page-home main h1 {
    line-height: 40px;
    font-size: 20px;
  }
  #page-home main h1#bolder {
    font-weight: 900;
    font-size: 28px;
  }
  #page-home main section a#text {
    max-width: 225px;
    height: 40px;
    font-size: 15px;
  }
  #page-home .footer-itens-grid article {
    font-size: 13px;
    margin-right: 0;
  }
  #page-home .footer-text {
    font-size: 13px;
  }
}
@media only screen and (max-width: 900px) {
  #page-home .footer-itens-grid article {
    font-size: 12px;
    margin-right: 0;
  }
  #page-home .footer-text {
    font-size: 12px;
  }
}
/*SLIDER */
@media screen and (max-width: 768px) {
  #page-home header img#dna {
    background-color: rgba(0, 0, 0, 0.212);
  }
  #page-home .separator {
    background-image: none;
  }
  #page-home .footer-itens-grid {
    display: grid;
    grid-template-columns: 340px 1fr;
  }
  #page-home .footer-itens-grid nav.slide-items {
    display: grid;
    grid-template-columns: 1fr;
  }
  #page-home .slide-items {
    position: relative;
  }
  #page-home .slide-items > * {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  #page-home .slide-items .active {
    opacity: 1;
    position: relative;
    visibility: visible;
  }
  #page-home #big_arrow {
    background-size: 10%;
  }
  #page-home footer {
    margin: auto 0 0;
  }
}
@media only screen and (max-width: 450px) {
  #page-home header img#dna {
    background-color: unset;
  }
  #page-home .footer-itens-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  #page-home .footer-itens-grid article {
    font-size: 12px;
    margin-right: 0;
  }
  #page-home footer {
    margin: auto 0 0;
  }
}
@media only screen and (max-width: 380px) {
  #page-home main section#contact a#text {
    width: 70%;
    font-size: 10px;
  }
  #page-home header img#dna {
    background-color: unset;
  }
  #page-home footer {
    margin: auto 0 0;
  }
  #page-home .footer-itens-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  #page-home .footer-itens-grid article {
    font-size: 10px;
    margin-right: 0;
  }
  #page-home .footer-itens-grid div:first-child {
    align-items: baseline;
  }
  #page-home .footer-itens-grid #big_arrow {
    padding-left: 3%;
  }
}/*# sourceMappingURL=main.css.map */