@media only screen and (max-width: 1325px){
    #page-home main h1 {      
        line-height: 40px;
        font-size: 20px;
    }

    #page-home main h1#bolder {    
        font-weight: 900;
        font-size: 28px;
    }
}

@media only screen and (min-width: 1121px) and (max-width: 1324px){
    .footer-itens-grid article {
        font-size: 16px;
        margin-right: 0;
    }

    .footer-text {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1120px){
    #page-home header img#dna{
        margin-left: 30px;
    }

    #page-home #right-top-menu #search {
        margin-right: 70px;
    }

    #page-home main {
        margin-left: 30px;
    }

    #page-home main h1 {      
        line-height: 40px;
        font-size: 20px;
    }

    #page-home main h1#bolder {    
        font-weight: 900;
        font-size: 28px;
    }

    #page-home main section a#text{
        max-width: 225px;
        height: 40px;
        font-size: 15px;
    }

   
    
    .footer-itens-grid article {
        font-size: 16px;
        margin-right: 0;
    }

    .footer-text {
        font-size: 13px;
    }
}

@media only screen and (max-width: 900px) {
    .footer-itens-grid article {
        font-size: 14px;
        margin-right: 0;
    }

    .footer-text {
        font-size: 12px;
    }
}

@media only screen and (max-width: 800px) {
    .footer-itens-grid li:first-child {
        flex: 1;
        justify-content: center;
        min-width: 300px;
    }    
}

/*SLIDER */
@media screen and (max-width:768px) {
    .separator {
        background-image: none;
    }

    .footer-itens-grid {
        display: grid;
        grid-template-columns: 340px 1fr;
    }

    .footer-itens-grid nav.slide-items {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .slide-items {
        position: relative;
    }
    
    .slide-items > * {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }
    
    .slide-items .active {
        opacity: 1;
        position: relative;
        visibility: visible;
    }

    #big_arrow {
        background-size: 10%;
    }

    footer{
        margin: auto 0 0;
    }
}

@media only screen and (max-width: 450px) {
    .footer-itens-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
    .footer-itens-grid li:first-child {
        flex: 1;
        justify-content: start;
        min-width: fit-content;
    }    

    .footer-itens-grid article {
        font-size: 12px;
        margin-right: 0;
    }

    footer{
        margin: auto 0 0;
    }
}

@media only screen and (max-width: 380px) {
    .footer-itens-grid article {
        font-size: 10px;
        margin-right: 0;
    }

    .footer-itens-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .footer-itens-grid div:first-child {
        align-items: baseline;
    }

    #big_arrow {
        padding-left: 3%;
    }

    .footer-itens-grid li:first-child {
        flex: 1;
        justify-content: start;
        min-width: fit-content;
    }   
    
    footer{
        margin: auto 0 0;
    }
}